.OneCard {
  border    : none;
  // shadow card
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin    : 30px;

  .photo-size {
    width  : 300px;
    padding: 0px;
  }

  .AdditionalBloc {
    margin-top: 45px;
  }
}